<div id="container">

  <ng-container *ngIf="error; then showError; else answer"></ng-container>

  <ng-template #showError>
    {{ error }}
  </ng-template>

  <ng-template #answer>
    <div class="element" *ngFor="let timetable of timetablesList">
      <h4>{{ timetable.representative.name }} {{ timetable.representative.surname }}</h4>
      <h2 *ngFor="let link of timetable.links">
        <a [title]="link.rel" [routerLink]="modifyLink(link.href)">
          {{ link.rel }}
        </a>
      </h2>
    </div>
    <div class="element" *ngIf="timetablesList.length === 0">
      <h2>Brak wyników</h2>
    </div>
  </ng-template>

</div>
