<div id="container">
  <ng-container *ngIf="error; then showError; else res"></ng-container>

  <ng-template #showError>
    <h4>{{ error }}</h4>
  </ng-template>

  <ng-template #res>
    <div *ngFor="let timetable of dayTimetableSingl">

      <div id="left">

        <div class="divClass">
          <h3>
            {{ timetable.dayOfMonth | num }}-{{ timetable.monthTimetable.month |num }}-{{ timetable.monthTimetable.year }}
          </h3>
        </div>

        <div class="divClass">
          <h4>{{ timetable.monthTimetable.representative.name }} {{ timetable.monthTimetable.representative.surname }}
          </h4>
          <h4>{{ timetable.monthTimetable.representative.email }}</h4>
        </div>

        <div class="divClass">
          <h4>{{ timetable.monthTimetable.institution.institutionName }}</h4>
          <h4>{{ timetable.monthTimetable.institution.city }}</h4>
          <h4>{{ timetable.monthTimetable.institution.street }} {{ timetable.monthTimetable.institution.gateNumber }}
            <span *ngIf="timetable.monthTimetable.institution.premisesNumber">/
              {{ timetable.monthTimetable.institution.premisesNumber }}</span>
          </h4>
        </div>

      </div>

      <div id="rigth">
        <div class="element" *ngFor="let link of timetable.links">
          <a [title]="link.rel" [routerLink]="modifyLink(link.href)">{{ link.rel }}</a>
        </div>
      </div>

    </div>
  </ng-template>

</div>
